<div class="h-screen bg-[url('/assets/bg1.svg')] bg-no-repeat bg-cover grid place-items-center">
    <form #editForm="ngForm" *ngIf="student" (submit)="editForm.valid && updateStudent()"
        class="w-full max-w-sm px-8 py-6 mx-auto bg-white shadow-lg">
        <h2 class="mb-8 text-2xl text-center uppercase">Edit A Student</h2>

        <div class="form-control">
            <label for="name">Student Name</label>
            <input type="text" name="name" id="name" [(ngModel)]="student.name">
        </div>

        <div class="form-control">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" [(ngModel)]="student.email">
        </div>

        <div class="form-control">
            <label for="cohort">Cohort</label>
            <input type="text" name="cohort" id="cohort" [(ngModel)]="student.cohort">
        </div>

        <div class="grid gap-1 mb-8">
            <label for="phoneNumber">Contact Number</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" [(ngModel)]="student.phoneNumber">
        </div>

        <div class="flex items-center justify-end gap-4">
            <button type="button" routerLink="/students" class="btn hover:text-red-500">Cancel</button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>